# Credenciales SBS COOPAC
SBS_URL=https://coopac.sbs.gob.pe/auth.web/index.jsp
SBS_USER=X74659034
SBS_PASS=Fladep26

# Configuración del navegador Puppeteer
PUPPETEER_HEADLESS=true
PUPPETEER_SLOWMO=50

# Tiempo máximo de espera en ms
SBS_TIMEOUT=45000
